RewriteEngine On

# All files with .something are skipped
RewriteCond %{REQUEST_URI} !\.png$
RewriteCond %{REQUEST_URI} !\.jpg$
RewriteRule .* - [L]
# 画像ファイルの処理
#RewriteRule (.*)\_(.*)\.(.*)$ index.php?_c_=ShowImage&_a_=$1&_o_=$3&$1=$2 [QSA,L]
RewriteRule (.*)\_(.*)\.(.*)$ index.php?_c_=API/Image/ShowImage&_a_=$1&_o_=$3&$1=$2 [QSA,L]

#php_flag mbstring.encoding_translation off
#php_value error_reporting 1
#php_value error_reporting 6143
#php_value mbstring.http_input pass
#php_value mbstring.internal_encoding UTF-8
