SetEnvIf User-Agent "^AppName\/(\d\.\d\.\d)" appversion=$1

RewriteEngine On

# All files with .something are skipped
RewriteCond %{REQUEST_URI} \..+$
RewriteCond %{REQUEST_URI} !\.html$
RewriteCond %{REQUEST_URI} !\.xml$
RewriteCond %{REQUEST_URI} !\.json$
RewriteRule .* - [L]
# the others are redirected to the front web controller
# 無指定はIndex.jsonへ
#RewriteRule ^/$ index.php [QSA,L]
# htmlファイルの処理
#RewriteRule ([^\+]*)?\+?(.*)\.(.*)$ index.php?_c_=$1&_a_=$2&_o_=$3&_v_=%{ENV:appversion} [QSA,L]
RewriteRule ([^\+]*)?\+?(.*)\.(.*)$ index.php?_c_=API/WebAPI/$1&_a_=$2&_o_=$3&_v_=%{ENV:appversion} [QSA,L]

#php_flag mbstring.encoding_translation off
#php_value error_reporting 1
#php_value error_reporting 6143
#php_value mbstring.http_input pass
#php_value mbstring.internal_encoding UTF-8
