RewriteEngine On

# All files with .something are skipped
RewriteCond %{REQUEST_URI} \..+$
RewriteCond %{REQUEST_URI} !$
RewriteCond %{REQUEST_URI} !\.html$
RewriteCond %{REQUEST_URI} !\.xml$
RewriteCond %{REQUEST_URI} !\.json$
RewriteRule .* - [L]
# リライト
RewriteRule ^/$ ../index.php?_c_=api/Index&_a_=$2&_o_=html [QSA,L]
RewriteRule ([^\+]*)?\+?(.*)\.(.*)$ ../index.php?_c_=api/$1&_a_=$2&_o_=$3 [QSA,L]

php_flag mbstring.encoding_translation off
php_value mbstring.http_input pass
php_value mbstring.internal_encoding UTF-8

# エラーの表示設定
# 全てのエラーを非表示
#php_value error_reporting 1
# 以下はPHP5環境用
php_value error_reporting 24575
